{% extends 'base.html.twig' %}

{% block content %}
    {% if errorMessage %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-8 rounded relative" role="alert">
            <span class="block sm:inline">{{ errorMessage }}</span>
        </div>
    {% endif %}

    {% if characters and totalCharacters > 0 %}
        <h2 class="text-center pb-4 text-2xl">{{ totalCharacters }} characters found</h2>
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 mt-4">
            {% for character in characters %}
                <li class="border border-gray-400 rounded p-4 flex items-center">
                    {% if character.image %}
                        <img src="{{ character.image }}" alt="{{ character.name }}" class="w-16 h-16 rounded-full mr-4">
                    {% else %}
                        <div class="w-16 h-16 rounded-full bg-gray-300 mr-4"></div>
                    {% endif %}

                    <div>
                        <h3 class="text-lg font-bold">{{ character.name }}</h3>
                        <a href="{{ path('character', {'id': character.id}) }}"
                           class="text-blue-500 hover:underline">View Details</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="my-8 text-center">
            {{ knp_pagination_render(characters) }}
        </div>
    {% else %}
        <p class="mt-8 text-red-500 text-center">No characters found.</p>
    {% endif %}
{% endblock %}